@use "@functions" as func;

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: func.adaptiveSize(70px, 92px);
  height: func.adaptiveSize(23px, 27px);
  border-radius: 4px;

  font-size: 12px;

  user-select: none;
}

.live {
  background-color: var(--live-status-background-color);
}

.finished {
  background-color: var(--finished-status-background-color);
}

.preparing {
  width: 112px;
  background-color: var(--preparing-status-background-color);
}
