.status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 27px;
  border-radius: 4px;

  font-size: 12px;

  user-select: none;
}

.live {
  background-color: var(--live-status-background-color);
}

.finished {
  background-color: var(--finished-status-background-color);
}

.preparing {
  width: 112px;
  background-color: var(--preparing-status-background-color);
}
