:root {
  --primary-text-color: white;
  --secondary-text-color: rgba(250, 250, 250, 0.4);

  --primary-background-color: #06080c;

  --primary-card-background-color: rgba(11, 14, 18, 1);
  --secondary-card-background-color: rgba(16, 19, 24, 1);

  --error-card-background-color: rgba(15, 19, 24, 1);

  --refresh-button-background-color: #eb0237;
  --disabled-refresh-button-background-color: rgba(112, 19, 40, 1);

  --finished-status-background-color: #eb0237;
  --live-status-background-color: #43ad28;
  --preparing-status-background-color: rgba(235, 100, 2, 1);

  --filter-primary-text-color: rgba(180, 181, 182, 1);
  --filter-primary-card-background-color: rgba(11, 14, 18, 1);
  --filter-secondary-card-background-color: rgba(11, 14, 18, 1);

  --teams-separator-text-color: rgba(49, 58, 71, 1);
  --teams-separator-border-color: rgba(19, 24, 31, 1);
}
