.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo {
  width: 258px;
  height: 32px;
}

@media (max-width: 775px) {
  .left,
  .header,
  .right {
    width: 100%;
    flex-direction: column;
  }

  .left {
    gap: 14px;
  }

  .header {
    gap: 10px;
  }

  .logo {
    width: 225px;
    height: 28px;
  }
}
