@use "@functions" as func;

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 0 4px;

  & > p {
    font-size: func.adaptiveSize(14px, 20px);

    span {
      display: inline-block;
      min-width: 25px;

      &:nth-child(2) {
        min-width: unset;
        transform: translateY(-0.1em);
      }

      &:first-child {
        text-align: right;
      }
    }
  }
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
}

.enterActive,
.exitActive {
  transition: opacity 200ms;
}
