@use "@functions" as func;

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 0 4px;

  & > p {
    font-size: func.adaptiveSize(14px, 20px);
  }
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
}

.enterActive,
.exitActive {
  transition: opacity 200ms;
}
